body {
  font-family: "Orbitron", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#instructions {
  max-width: 75vw;
  margin: auto;
}

button {
  margin: 2em 1em;
}

.form-row {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 1em;
}

form {
  display: block;
  justify-content: center;
}

#play-area {
  color: #53fb53;
  max-width: 90%;
  margin: auto;
  background-color: black;
  display: flex;
  margin-bottom: 2em;
}

#display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.plateau-container {
  display: flex;
  justify-content: center;
}

.plateau-grid {
  background-image: url("/assets/mars-satellite-photo.jpg");
  background-size: cover;
  display: grid;
  /* justify-items: center; */
  grid-template-columns: repeat(25, 40px);
  grid-template-rows: repeat(25, 40px);
  grid-gap: 0px;
}

.cell {
  /* background-image: url("/assets/dust-storm.jpeg"); */
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border: 0.5px solid #53fb53b8;
}

#playerRover {
  max-width: 35px;
  transform: translate(0, -20px);
}

#rogueRover {
  max-width: 35px;
  transform: translate(0, -20px);
}

.cell.visible {
  background-image: "none";
}

@keyframes move-north {
  0% {
    transform: translate(0, 20px);
  }
  100% {
    transform: translate(0, -20px);
  }
}
